@charset "utf-8";
/* CSS Document */

body {
    padding: 1rem;
    width: 450px;
}

.statistics .box {
    height: 100%;
    margin-left: -5px;
    margin-right: -5px;
    color: #fff;
    border-radius: 3px;
}

.statistics .box.media {
    background-color: #1BC98E;
}

.statistics .box.media_centodieci {
    background-color: #5087ff;
}

.statistics .box.cfu {
    background-color: #9F86FF;
}

.statistics .box .content {
    padding: 15px;
    text-align: center;
}

.statistics .box .content .header {
    color: rgba(255, 255, 255, 0.65);
    text-transform: uppercase;
    font-size: 12px;
}

.statistics .box .content h2 {
    font-size: 24px;
    margin: 5px 0;
    font-weight: 300;
}

.statistics .box .content .small-label {
    font-size: 12px;
    font-weight: normal;
}
