@charset "utf-8";
/* CSS Document */

body {
	font-weight: bold;
	font-size: 12px;
	font-family: Arial, sans-serif;
	color: #585858;
	width: 250px;
}

/* General layout tables */
table {
	table-layout: fixed;
	color: #333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	width: 100%;
}

table th {
	border-width: 1px;
	padding: 8px 5px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}

table td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	text-align: center;
}

/* Add exam table */

.input_table caption {
	padding: 5px;
	border-color: #666666;
	font-weight: bold;
	font-size: 1.1em;
	margin-left: -1px; /* Fix FF 1px issue */
}

.input_table td {
	padding: 0px;
	height: 2em;
}

.third_column {
	width: 15%;
}

.input_table input {
	width: 100%;
	height: 100%;
	margin: 0px;
	border-style: hidden;
	text-align: center;
}

.input_table td > a {
	width: 100%;
	height: 100%;
	display: block;
	background: url(icons/close.png) no-repeat;
	background-position: center;
}

.error_field {
	border: 2px solid #D8000C;
}

.error_field input {
	background-color: #FF9494;
}

/* Buttons (anchor) style */
a.button {
    color: #333;
    text-decoration: none;
    padding: 5px 15px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
    border: solid 1px #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	width: 85px;
	text-align: center;
}

a.button:hover {
    color: #333;
    border-color: #999;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2); 
	-webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

a#calcola {
	margin-right: 10px;	
}

a#add {
	display: block;
	font-size: 14px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 3px 20px;
	width: 15%;
}

div.controls {
	margin-top: 10px;
}

#messages {
	margin-top: 10px;
}

#error {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	color: #D8000C;
	background-color: #FFBABA;
}

#warning {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	color: #9F6000;
	background-color: #FEEFB3;
}

#info {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	padding: 1em;
	display: block;
	font-size: 14px;
	font-weight: normal;
	background-color: #FFBABA;
}

.tooltip {
	font: inherit;
}